@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --main-pink: #F2AEC1;
  --main-grey: #f2f2f2;
  --main-dark: #594347;
  --main-white: #fff;
  --sub-pink: #F2C9D4;
  --sub-grey: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: var(--main-pink);
}

button {
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: var(--main-pink);
  color: var(--main-white);
  cursor: pointer;
}

.wrapper {
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  background: var(--main-white);
  padding: 25px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

#tasks .inputField input {
  width: 60%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

#tasks select {
  width: 25%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 12px;
  border-radius: 3px;
  margin-left: 4px;
}

.inputField button {
  width: 45px;
  margin-left: 10px;
  font-size: 22px;
}

.wrapper .todoList, .wrapper .categoryList{
  max-height: 250px;
  overflow-y: scroll;
}

.todoList::-webkit-scrollbar {
  width: 0;
}

.todoList li, .categoryList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: var(--main-grey);
  margin-bottom: 8px;
  border-radius: 3px;
  padding-left: 15px;
  cursor: default;
  overflow: hidden;
}

.todoList, #tasks{
  margin-top: 20px;
}

.done {
  text-decoration: line-through;
}

.todoList li span, .categoryList li span {
   margin-top: 15px;
   padding: 0 10px;
}

.fa-edit {
    float: right;
    color: var(--main-dark);
}
.fa-trash{
    float: right;
    color: var(--main-dark);
}

.wrapper .footer {
  /*   width: 100%; */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footer button {
  font-size: 16px;
  padding: 6px 10px;
}

#categoryFilter{
  width: 60%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 12px;
  border-radius: 3px;
  padding: 4px;
}

#filterLabel{
  font-size: 12px;
  margin-right: 10px;
}
